body, html{
	margin: 0;
	padding: 0;
}


form{
	margin: 5rem 20rem;
}

form label{
	float: left;
	clear: both;
	margin-top: 1rem;
}

form input{
	float: left;
	clear: both;
	width: 15rem;
	margin-top: 0.25rem;
	padding: 0.3rem 0.5rem;
	outline: none;
	border-radius: 0.4rem;
	border: 0.04rem solid #999;
}

form img{
	float: left;
	clear: both;
	margin-top: 1.5rem;
	width: 10rem;
	height: 5rem;
}